@import "mixins.scss";
@import "global.scss";
@import "typography.scss";
@import "grid.scss";
@import "font-awsome.scss";

/* ==========================================================================
   Header Styless
   ========================================================================== */

header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $grey;
    height: em(80px, $browser-default);
    box-shadow: 0px 3px 33px 0px rgba(0, 0, 0, 0.75);
    .logo {
        color: #8c8c8c;
        font-weight: bold;
        font-size: 1.5em;
        float: left;
        line-height: em(50px, $browser-default);
        position: relative;
        span {
            color: #179BD7;
            transition: color 0.5s ease;
        }
    }
    .fa-bars {
        display: none;
        float: right;
        font-size: 1.5em;
        line-height: em(50px, $browser-default);
        color: grey;
        cursor: pointer;
        @include media($mobile-lg) {
            display: block;
        }
    }
    ul {
        list-style: none;
        float: right;
        @include media($mobile-lg) {
            position: absolute;
            display: none;
            width: 100%;
            background: white;
            top: em(80px, $browser-default);
            left: 0;
        }
        li {
            display: inline-block;
            display: inline;
            @include media($mobile-lg) {
                display: block;
            }
            a {
                text-decoration: none;
                float: left;
                display: inline-block;
                line-height: em(80px, $browser-default);
                margin-left: 1em;
                color: $grey;
                font-weight: bold;
                transition: color 1s ease;
                &:hover {
                    color: #179BD7;
                }
                @include media($mobile-lg) {
                    float: none;
                    display: block;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid grey;
                    line-height: 4em;
                }
            }
        }
    }
}
.lexicon {
    padding-top: 30px;
    color: #474747;
    .lexiconContainer {
        -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
        width: 300px;
        height: 500px;
        padding: 10px;
        label {
            display: block;
            padding: 3px 0px;
            font-weight: 400;
        }
        input {
            display: block;
            width: 100%;
            border-radius: 10px;
            padding: 1px;
        }
        textarea {
            width: 100%;
            border-radius: 3px;
            border-color: $grey;
            border-style: inset;
        }
        button {
            margin-top: 15px;
            background-color: #555555;
            border: 1px solid white;
            color: white;
            padding: 3px 7px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: #555555;
                border: 1px solid grey;
            }
        }
        ul {
            margin-top:10px;    
            list-style: none;
            text-align: center;
            height: 250px;
            overflow: hidden;
            border: 1px solid rgba( 140, 140, 140, 0.244 );
            li {
                width: 100%;
                opacity: 0.7;
            }
        }
    }
    h4 {
        margin-top: 20px;
        display: block;
        width: 100%;
        text-align: center;
        font-style: italic;
    }
}
.grey {
    background: #555555;
    color: white;
}
.view-animate {
    padding: 10px;
}
.view-animate.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    margin-left: 50%;
}
.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
    margin-left: 0%;
}
.view-animate.ng-leave.ng-leave-active {
    margin-left: +50%;
}
li.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    margin-left: 50%;
}
li.ng-enter.ng-enter-active {
    opacity: 1;
    margin-left: 0%;
}
li.ng-leave.ng-leave-active {
    margin-left: 50%;
}
