<div class="lexicon wrapper">
    <div class="row">
        <div class="column column-6">
            <div class="lexiconContainer">
                <h4> {{vm.title}}</h4>
                <form name="formData">
                    <label for="word">Word</label>
                    <input type="text" ng-model="vm.formData.word" required>
                    <label for="word">Grade</label>
                    <input type="text" ng-model="vm.formData.grade" required>
                    <button ng-disabled="formData.$invalid" ng-click="vm.postWords(formData)">Save</button>
                </form>
                <ul>
                    <li ng-repeat="word in vm.words" ng-dblclick="vm.delWord(word._id)" ng-class-even="'grey'">
                        {{word.word}} {{word.grade}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="column column-6">
            <upustvo></upustvo>
        </div>
    </div>
</div>
